@model  IEnumerable<EntityModels.EF.FACULTY>
@using EntityModels.EF
@using UniversityMagazine.Common
@using UniversityMagazine.DAO
@{
    ViewBag.Title = "Faculties";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UniversityMagazineDBContext db = new UniversityMagazineDBContext();
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var Credentials = (IEnumerable<Credentials>)Session[CommonConstants.SESSION_CREDENTIALS];
}
@section css{

    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <style>
        .dataTables_filter {
            display: none;
        }
    </style>
}
@section breadcrumb{
    <li class="breadcrumb-item">Management</li>
    <li class="breadcrumb-item active"><a href="#">@ViewBag.Title</a></li>

}
@using (Html.BeginForm("Create", "Faculty", FormMethod.Post))
{
    <div class="modal fade" id="MyModalCreate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title mb-0">Add Faculty</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivCreate">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Edit", "Faculty", FormMethod.Post))
{
    <div class="modal fade" id="MyModalEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title mb-0">Edit Faculty</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivEdit">
                </div>
            </div>
        </div>
    </div>
}

<div class="card card-primary card-outline">
    <div class="card-header p-1">
        <h5 class="card-title text-bold float-left">Faculties</h5>
        <div class="float-right">
            @if (Credentials.Where(x => x.ROLE_Code == "FACULTY" && x.CREDENTIAL_ADD == true || x.ROLEGROUP_Code == "ADMIN").Count() > 0)
            {
                <a href="#" class="btn btn-success btn-sm" onclick='CreateFaculty()'>Add</a>
            }

        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-4 col-md-3" id="row_@item.FACULTY_Id">
                    <div class="card bg-light">
                        <div class="card-header text-muted border-bottom-0 p-2">
                            <h2 class="lead"><b> @item.FACULTY_Name (@item.FACULTY_Code) </b></h2>

                        </div>
                        <div class="card-body p-2">
                            <p class="text-muted text-sm"><b>Coordinator:</b> @(item.ACCOUNTs.Where(x => x.ROLEGROUP.ROLEGROUP_Code == "MARKETINGCOORDINATOR" && x.FACULTY_Id == item.FACULTY_Id).Count() > 0? item.ACCOUNTs.FirstOrDefault(x => x.ROLEGROUP.ROLEGROUP_Code == "MARKETINGCOORDINATOR" && x.FACULTY_Id == item.FACULTY_Id).ACCOUNT_Name : "Unknown")</p>
                            <p class="text-muted text-sm"><b>Status:</b> <span style="color:@(item.FACULTY_Status ? "#28a745" : "red")">@(item.FACULTY_Status ? "Active" : "Lock")</span></p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class=""><span class="fa-li"><i class="far fa-lg far fa-file-word"></i></span><b> Articles:  </b> @item.ARTICLEs.Where(x => x.ARTICLE_Status == true).Count()</li>
                                <li class=""><span class="fa-li"><i class="far fa-lg fa-file-image"></i></span><b> Images:  </b> @item.IMAGEs.Where(x => x.IMAGE_Status == true).Count()</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-right float-right">
                                @if (Credentials.Where(x => x.ROLEGROUP_Code == "MARKETINGMANAGER").Count() > 0)
                                {
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        Detail
                                        <span class="sr-only">Action</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a href="/Management/Faculty/ArticlesApproved?fACULTY_Code=@item.FACULTY_Code" class="dropdown-item">Articles</a>
                                        <a href="/Management/Faculty/ImagesApproved?fACULTY_Code=@item.FACULTY_Code" class="dropdown-item">Images</a>
                                    </div>
                                }
                                @if (Credentials.Where(x => x.ROLE_Code == "FACULTY" && x.CREDENTIAL_EDIT == true || x.ROLEGROUP_Code == "ADMIN").Count() > 0)
                                {
                                    <a href="#" class="btn btn-sm btn-warning" id="@item.FACULTY_Id" onclick='EditFaculty(this.id)'>Edit</a>
                                }
                                @if (item.FACULTY_Status == false)
                                {
                                    <a href="#" class="btn btn-sm btn-success" id="@item.FACULTY_Id" onclick='ChangeStatus(this.id)'>Unlock</a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-sm btn-danger" id="@item.FACULTY_Id" onclick='ChangeStatus(this.id)'>Lock</a>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
       
    </div>
</div>
@section js{
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#MANAGEMENT').addClass("menu-open");
            $('#FACULTY').addClass("active");

            

           
        });
        function ChangeStatus(id) {
            $.ajax({
                url: "/Management/Faculty/ChangeStatus",
                data: { id: id },
                dataType: "json",
                type: "POST",
                success: function (response) {
                    location.reload();
                }
            });
        }
    </script>

}