@model  IEnumerable<UniversityMagazine.EF.CREDENTIAL>

@{
    int stt = 0;
}
<style>
    .dataTables_filter, .dataTables_info {
        display: none;
    }
</style>
<input type="hidden" name="ROLEGROUP_Id" value="@ViewBag.ROLEGROUP_Id" readonly />

<b>Role Group: @ViewBag.ROLEGROUP_Code</b>
<table class="table table-striped table-bordered table-hover table-sm" id="tableCredential" width="100%">
    <thead>
        <tr>
            <th>STT</th>
            <th class="search_input">Role</th>
            <th>View</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            stt++;
            <tr id="row_@item.ROLE_Id">
                <td style="width:10px!important">@stt</td>
                <td>
                    @(item.ROLE_Id != null ? item.Role.ROLE_Name : null)
                </td>
                <td style="text-align:center"><input type="checkbox" name="@item.ROLEGROUP_Id-@item.ROLE_Id-CREDENTIAL_VIEW" @(item.CREDENTIAL_VIEW == true ? "checked" : null) /></td>
                <td style="text-align:center"><input type="checkbox" name="@item.ROLEGROUP_Id-@item.ROLE_Id-CREDENTIAL_ADD" @(item.CREDENTIAL_ADD == true ? "checked"  :null) /></td>
                <td style="text-align:center"><input type="checkbox" name="@item.ROLEGROUP_Id-@item.ROLE_Id-CREDENTIAL_EDIT" @(item.CREDENTIAL_EDIT == true ? "checked"  :null) /></td>
                <td style="text-align:center"><input type="checkbox" name="@item.ROLEGROUP_Id-@item.ROLE_Id-CREDENTIAL_DELETE" @(item.CREDENTIAL_DELETE == true ? "checked"  :null) /></td>
            </tr>
        }
    </tbody>

</table>
<div style="text-align:right">
    <button type="submit" class="btn btn-primary btn-sm start">Save</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
</div>


<script>
    $('#tableCredential .search_input').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" style="width:100%" placeholder="' + title + '" />');
    });
    setTimeout(function () {
        var table = $('#tableCredential').DataTable({
            scrollY: "500px",
            scrollX: true,
            paging: false,
            ordering: false,
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            },
        });
    }, 180);


</script>
