@model  IEnumerable<UniversityMagazine.EF.ROLEGROUP>
@using UniversityMagazine.EF
@using UniversityMagazine.Common
@using UniversityMagazine.DAO
@{
    ViewBag.Title = "Role Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UniversityMagazineDBContext db = new UniversityMagazineDBContext();
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var Credentials = (IEnumerable<Credentials>)Session[CommonConstants.SESSION_CREDENTIALS];
    var stt = 0;
}
@section css{
    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <style>
        .dataTables_filter, .dataTables_info {
            display: none;
        }
    </style>
}

@using (Html.BeginForm("Create", "RoleGroup", FormMethod.Post))
{
    <div class="modal fade" id="MyModalCreate">
        <div class="modal-dialog">
            <div class="modal-content" style="width:65%">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title mb-0">Add Role Group</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivCreate">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Credential", "RoleGroup", FormMethod.Post))
{
    <div class="modal fade" id="MyModalCredential">
        <div class="modal-dialog" style="width:32%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle" class="card-title text-bold">Credential</h4>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivCredential">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Edit", "RoleGroup", FormMethod.Post))
{
    <div class="modal fade" id="MyModalEdit">
        <div class="modal-dialog">
            <div class="modal-content" style="width:65%">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title mb-0">Edit Role Group</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivEdit">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Delete", "RoleGroup", FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0 float-left">
                <b>Role Group</b>
            </h5>
            <div class="float-right">
                @if (Credentials.Where(x => x.ROLE_Code == "ROLEGROUP" && x.CREDENTIAL_ADD == true).Count() > 0)
                {
                    <a href="#" class="btn btn-success btn-sm" onclick='CreateRoleGroup()'><i class="fa fa-plus"></i> ADD</a>
                }
                @if (Credentials.Where(x => x.ROLE_Code == "ROLEGROUP" && (x.CREDENTIAL_EDIT == true || x.CREDENTIAL_DELETE == true)).Count() > 0)
                {
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                        Action
                        <span class="sr-only">Action</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        @if (Credentials.Where(x => x.ROLE_Code == "ROLEGROUP" && x.CREDENTIAL_EDIT == true).Count() > 0)
                        {
                            <a href="#" class="dropdown-item" onclick='EditRoleGroup()'>Edit</a>
                        }
                        @if (Credentials.Where(x => x.ROLE_Code == "CREDENTIAL" && x.CREDENTIAL_EDIT == true).Count() > 0)
                        {
                            <a href="#" class="dropdown-item" onclick='Credential()'>Credentials</a>
                        }
                        @if (Credentials.Where(x => x.ROLE_Code == "ROLEGROUP" && x.CREDENTIAL_DELETE == true).Count() > 0)
                        {
                            <input type="submit" value="Delete" id="Delete" class="dropdown-item" />
                        }
                    </div>
                }

            </div>
        </div>
        <div class="card-body pt-1 pb-1">
            @using (Html.BeginForm("Delete", "RoleGroup", FormMethod.Post))
            {
                <table class="table table-striped table-bordered table-hover table-sm" id="tableRoleGroup" width="100%">
                    <thead>
                        <tr>
                            <th><input type='checkbox' id='check' value='' /></th>
                            <th class="search_input">STT</th>
                            <th style="width:13%" class="search_input">Role Group</th>
                            <th style="width:80%" class="search_input">Descriptions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Where(x => x.ROLEGROUP_Code != "ADMIN"))
                        {
                            stt++;
                            <tr id="row_@item.ROLEGROUP_Id">
                                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.ROLEGROUP_Id" /></td>
                                <td>@stt</td>
                                <td style="text-align:left">@(item.ROLEGROUP_Code != null ? item.ROLEGROUP_Code : null)</td>
                                <td style="text-align:left">@(item.ROLEGROUP_Name != null ? item.ROLEGROUP_Name : null)</td>
                            </tr>
                        }
                    </tbody>

                </table>

            }
        </div>
    </div>
}

@section js{
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#CREDENTIAL').addClass("menu-open");
            $('#ROLEGROUP').addClass("active");

            $('#tableRoleGroup .search_input').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" placeholder="' + title + '" />');
            });

            $('#tableRoleGroup').removeAttr('width').css("text-align", "center").DataTable({
                scrollY: @(Model.Count() > 15 ? "500" : "false"),
                "scrollX": true,
                "bSort": false,
                "paging": false,
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
            });
        });
    </script>

}