@model IEnumerable<EntityModels.EF.ARTICLE>
@using System.Globalization;
@using UniversityMagazine.Common
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var Credentials = (IEnumerable<Credentials>)Session[CommonConstants.SESSION_CREDENTIALS];
}
@section breadcrumb{
    <li class="breadcrumb-item"><a href="#">MyUploads</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title text-bold float-left">
            Articles
        </h3>
        <div class="float-right">
            @if (Credentials.Where(x => x.ROLE_Code == "ARTICLE" && x.CREDENTIAL_ADD == true).Count() > 0)
            {
                @Html.ActionLink("Upload", "UploadFile", null, new { @class = "btn btn-success btn-sm" })

            }
        </div>
    </div>
    <div class="card-body">
        <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
            @foreach (var item in Model)
            {
            <li id="row_@item.ARTICLE_Id">
                @if (item.ARTICLE_Type == "pdf")
                {
                    <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                }
                else
                {
                    <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>
                }

                <div class="mailbox-attachment-info">
                    <a href="/MyUpload/File/@item.ARTICLE_FileName/" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.ARTICLE_Tittle</a> <span style="color:@(item.ARTICLE_Status ? "#28A745" : "red")">(@(item.ARTICLE_Status ? "approved" : "Unapproved"))</span>
                    <span class="mailbox-attachment-size clearfix mt-1">
                        <span>@(item.ARTICLE_Size != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.ARTICLE_Size)) : null) KB</span>
                        @if ((DateTime.Now - item.ARTICLE_UploadTime).Value.TotalDays < 1)
                        {
                            <a href="#" class="btn btn-danger btn-sm float-right DeleteFile" title="Delete" id="@item.ARTICLE_Id"><i class="fas fa-times"></i></a>
                        }
                    </span>
                </div>
            </li>
            }

        </ul>
    </div>
</div>
@section js{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            $('#MYUPLOAD').addClass("menu-open");
            $('#FILES').addClass("active");

            $('.DeleteFile').click(function () {
                if (!confirm("Are you sure you want to delete?")) {
                    return false;
                } else {
                    var ARTICLE_Id = $(this).attr('id');
                    $.ajax({
                        url: "/MyUpload/DeleteFileJson?ARTICLE_Id=" + ARTICLE_Id,
                        dataType: "json",
                        type: "Post",
                        success: function (res) {
                            if (res.data) {
                                $('#row_' + ARTICLE_Id).remove();
                                location.reload();
                            }
                        }
                    });
                }
            })
        });

    </script>
}