@model IEnumerable<UniversityMagazine.EF.IMAGE>
@using System.Globalization;
@using UniversityMagazine.Common
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var Credentials = (IEnumerable<Credentials>)Session[CommonConstants.SESSION_CREDENTIALS];
}
@section breadcrumb{
    <li class="breadcrumb-item"><a href="#">MyUploads</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}
@section css{
    <link rel="stylesheet" href="~/Content/plugins/ekko-lightbox/ekko-lightbox.css">
    <style>
        .mailbox-attachment-icon.has-img > img {
            max-width: 60px !important;
        }
    </style>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title text-bold float-left">
            Images
        </h3>
        <div class="float-right">
            @if (Credentials.Where(x => x.ROLE_Code == "IMAGES" && x.CREDENTIAL_ADD == true).Count() > 0)
            {
                @Html.ActionLink("Upload", "UploadImage", null, new { @class = "btn btn-primary btn-sm mb-1" })

            }
        </div>
    </div>
    <div class="card-body">
        <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
            @foreach (var item in Model)
            {
                <li id="row_@item.IMAGE_Id">
                    <a href="@item.IMAGE_FileUpload" data-toggle="lightbox" data-title="@item.IMAGE_Tittle">
                        <span class="mailbox-attachment-icon has-img"><img src="@item.IMAGE_FileUpload" class="img-fluid" alt="@item.IMAGE_FileName" /></span>
                        </a>
                    <div class="mailbox-attachment-info">
                        <a href="/MyUpload/Image/@item.IMAGE_FileName/" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i>@item.IMAGE_Tittle</a>
                        <span class="mailbox-attachment-size clearfix mt-1">
                            <span>@(item.IMAGE_Size != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.IMAGE_Size)) : null) KB</span>
                            <a href="#" class="btn btn-danger btn-sm float-right DeleteImage" title="Delete" id="@item.IMAGE_Id"><i class="fas fa-times"></i></a>
                        </span>
                    </div>
                </li>
            }

        </ul>
    </div>
</div>
@section js{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/Content/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $(function () {
            $('#MYUPLOAD').addClass("menu-open");
            $('#IMAGES').addClass("active");

            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
            $('.DeleteImage').click(function () {
                var IMAGE_Id = $(this).attr('id');
                $.ajax({
                    url: "/MyUpload/DeleteImage?IMAGE_Id=" + IMAGE_Id,
                    dataType: "json",
                    type: "Post",
                    success: function (res) {
                        if (res.data) {
                            $('#row_' + IMAGE_Id).remove();
                            location.reload();
                        }
                    }
                });
            })

        })

    </script>
}