@model IEnumerable<EntityModels.EF.ACCOUNT>
@using UniversityMagazine.Common
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var Credentials = (IEnumerable<Credentials>)Session[CommonConstants.SESSION_CREDENTIALS];
    int stt = 0;
}
@section breadcrumb{
    <li class="breadcrumb-item">Management</li>
    <li class="breadcrumb-item active"><a href="#">@ViewBag.Title</a></li>

}
@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <style>
        .dataTables_filter, .dataTables_info, .dataTables_length {
            display: none;
        }
    </style>

}
@using (Html.BeginForm("Create", "Account", FormMethod.Post))
{
    <div class="modal fade" id="MyModalCreate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (session.RoleGroup == "ADMIN")
                    {
                        <h5 id="ModalTitle" class="card-title text-bold">Add Account Marketing Manager</h5>

                    }
                    else if (session.RoleGroup == "MARKETINGMANAER")
                    {
                        <h5 id="ModalTitle" class="card-title text-bold">Add Account Marketing Coordinator</h5>

                    }
                    else if (session.RoleGroup == "MARKETINGCOORDINATOR")
                    {
                        <h5 id="ModalTitle" class="card-title text-bold">Add Account Students</h5>
                    }
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivCreate">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    <div class="modal fade" id="MyModalEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title mb-0">Edit Account</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivEdit">
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            @if (session.RoleGroup == "ADMIN")
            {
                <h5 class="card-title text-bold float-left">Account Marketing Manager</h5>
            }
            else if (session.RoleGroup == "MARKETINGMANAER")
            {
                <h5 class="card-title text-bold float-left">Account Marketing Coordinator</h5>
            }
            else if (session.RoleGroup == "MARKETINGCOORDINATOR")
            {
                <h5 class="card-title text-bold float-left">Account Students</h5>
            }

            <div class="float-right">
                @if (Credentials.Where(x => x.ROLE_Code == "ACCOUNT" && x.CREDENTIAL_ADD == true).Count() > 0 || session.RoleGroup == "ADMIN")
                {
                    <a href="#" class="btn btn-success btn-sm" onclick='CreateAccount()'>Add</a>
                }
                @if (Credentials.Where(x => x.ROLE_Code == "ACCOUNT" && (x.CREDENTIAL_EDIT == true || x.CREDENTIAL_DELETE == true)).Count() > 0 || session.RoleGroup == "ADMIN")
                {
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                        Action
                        <span class="sr-only">Action</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        @if (Credentials.Where(x => x.ROLE_Code == "ACCOUNT" && x.CREDENTIAL_EDIT == true).Count() > 0 || session.RoleGroup == "ADMIN")
                        {
                            <a href="#" class="dropdown-item" onclick='EditAccount()'>Edit</a>
                        }
                        @if (Credentials.Where(x => x.ROLE_Code == "ACCOUNT" && x.CREDENTIAL_DELETE == true).Count() > 0 || session.RoleGroup == "ADMIN")
                        {

                            <input type="submit" value="Delete" id="Delete" class="dropdown-item" />
                        }
                    </div>
                }

            </div>
        </div>
        <div class="card-body">
            <table class="table table-responsive-lg table-bordered table-sm" id="tableAccount" width="100%">
                <thead>
                    <tr>
                        <th><input type='checkbox' id='check' value='' /></th>
                        <th>No.</th>
                        <th class="search_input">Full name</th>
                        <th class="search_input">Username</th>
                        <th style="min-width:140px!important">BirthDay</th>
                        <th class="search_input">Email</th>
                        <th class="search_input">Telephone</th>
                        <th class="search_input">Address</th>
                        <th style="min-width: 100px !important">Create Time</th>
                        <th class="search_input">Faculty</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        stt++;
                        <tr id="row_@item.ACCOUNT_Username">
                            <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.ACCOUNT_Id" /></td>
                            <td>@stt</td>
                            <td>@(item.ACCOUNT_Name != null ? item.ACCOUNT_Name : null)</td>
                            <td>@(item.ACCOUNT_Username != null ? item.ACCOUNT_Username : null)</td>
                            <td>@(item.ACCOUNT_BirthDay != null ? item.ACCOUNT_BirthDay.Value.ToString("dd/MM/yyyy") : null)</td>
                            <td>@(item.ACCOUNT_Email != null ? item.ACCOUNT_Email : null)</td>
                            <td>@(item.ACCOUNT_Telephone != null ? item.ACCOUNT_Telephone : null)</td>
                            <td>@(item.ACCOUNT_Address != null ? item.ACCOUNT_Address : null)</td>
                            <td style="min-width: 140px !important">@(item.ACCOUNT_CreateTime != null ? item.ACCOUNT_CreateTime : null)</td>
                            <td>@(item.FACULTY_Id != null ? item.FACULTY.FACULTY_Name : null)</td>
                            <td class="@(item.ACCOUNT_Status ? "text-success" : "text-danger")  ">@(item.ACCOUNT_Status ? "Active" : "Inactive")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
}

@section js{
    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#MANAGEMENT').addClass("menu-open");
            $('#ACCOUNT').addClass("active");

            $('#tableAccount .search_input').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" placeholder="' + title + '" />');
            });

            $('#tableAccount').css("text-align", "center").DataTable({
                "ordering": false,
                "paging": true,
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Tất cả"]],
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
            });
            $('[data-mask]').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            
            $('.select2').select2({ theme: 'bootstrap4', allowClear: true });
        });
    </script>
}